.loginform {
    margin: auto; /* Center the form itself in the page horizontally */
    margin-top: 5cm; /* Add space from the top */
    border: 3px solid black;
    padding: 3em;
    width: 11cm;
    background-color: #FFB703;
    height: 11cm;
    display: flex; /* Use flexbox to center content inside the form */
    flex-direction: column; /* Stack items vertically */
    justify-content: center; /* Center items vertically */
    color: #023047;
    text-emphasis-color: #023047;
    font-weight: bold;
}
.logintext {
    align-self: center; /* Center the text horizontally within the form */
    font-size: 1.7em;
    margin-bottom: 1em; /* Add space below the text */
    align-items: center;
}
.btn {
    width: 100px;
    align-self: center;
    margin-top: 2em;
    border: none;
    padding: 0.5em;
    font-size: 1em;
    cursor: pointer;
    background-color: #023047; /* Default color */
    color: #FFFFFF;
}


